<!DOCTYPE html>
<html>
<body>

<h2>Top 10 Games I like</h2>

<ol>
  <li>Skyrim</li>
  <li>OverWatch</li>
  <li>Oblivin</li>  
  <li>Minecraft</li>
  <li>Hearthstone</li>
  <li>Halo 2 and 3</li>
  <li>Rainbow six seige</li>
  <li>Fortnite</li>
  <li>Cod WW2</li>
  <li>Battle block thearter</li>
</ol> 

<pre>   these are my top 10 i love to play. I love both playing 1st person shooter like cod and halo but at the same time i dont mind
  playing 3rd person shooter like fortnite. i love to think in games probably why i like to play hearthstone you have to think before
you play your cards.As for Battle block i love how it makes me laugh while playing it kinda give a challange but not to much of one.
 </pre>

<p><a href = "login.html"> Login/Sign Up </a></p>
<p><a href = "addtolist.html"> Add your own game to the list  </a></p>

</body>
</html>